.blur {
    position: absolute;
    background-color: $dark-blue;
    height: 80px;
    width: 100%;
    filter: blur(1rem);

    transform: scale(1.2);
    bottom: -100px;

    overflow: hidden;
}

.hero {
    overflow: hidden;

    // height: calc(100vh - 32px);
    height: calc(100vh + 40px);

    background-color: rgba(0, 0, 0, 0.4);
    background-image: url("../assets/hero-banner.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;

    color: $light;

    padding: 1rem;

    div {
        text-align: left;
    }

    span {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1.25rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        color: $gold;

        &::before {
            content: "";
            background-color: $gold;
            display: block;
            height: 2px;
            width: 15%;
            margin-right: 1rem;
        }
    }

    h1 {
        font-size: clamp(2.75rem, 6vw, 4.5rem);
        font-weight: 500;
        line-height: 1.2;
    }
}
