@import "variables";
@import "reset";
@import "hero";
@import "header";
@import "cards";
@import "footer";

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    font-family: $ff-heading;
}

body {
    overflow-x: hidden;
}

p,
a,
span,
input,
textarea {
    font-family: $ff-text;
}

p {
    line-height: 1.5;
}

main {
    background-color: $dark-blue;
    color: $light;
    padding: 1rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
